details {
  border: 4px solid;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  border-color: #c5dc6f;
}

summary {
  margin: -0.5em -1em;
  padding: 0.25em 0.5em;
  background-color: #c5dc6f;
}

details[open]>summary {
  border-bottom: 1px solid #c5dc6f;
  margin-bottom: 0.5em;
}

/* sepia mode */
.book.color-theme-1 details,
.book.color-theme-1 details[open]>summary {
  border-color: #F5D073;
}

.book.color-theme-1 details>summary {
  background-color: #F5D073;
}

/* night mode */
.book.color-theme-2 details,
.book.color-theme-2 details[open]>summary {
  border-color: #333e0f;
}

.book.color-theme-2 details>summary {
  background-color: #333e0f;
}
